/*Grid*/
section{
    display:grid;
    grid-template-columns: repeat (12, 1fr);
    grid-auto-rows: auto;
    gap:1rem;
  
}


section>header{
    grid-column: span 12;
    
}
section>main{
    grid-column: span 8;
}



body{
    background-color:rgba(133, 17, 17, 0.938);color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

article{
    background-color: rgb(44, 43, 43); 
    padding: 1.5rem;
    border-bottom: 1px solid;color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.titulo_del_blog{
    text-align: center;
    font-size: 2rem;
}



.footer_blog{
    margin: 2rem;
}


nav>ul>li {
    list-style: none;
    
}

nav>ul>li>a {
    text-decoration: none;
    color:white;
    
    
}
header {
    text-align:center;
}     
section>aside{
    grid-column: span 4;
}     
section>footer{
    grid-column: span 12;
} 

nav>ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid; 
    color:white;
    padding-bottom: 0.5rem;
}







