/*Grid*/
section{
    display:grid;
    grid-template-columns: repeat (12, 1fr);
    grid-auto-rows: auto;
    gap:1rem;
}


section>header{
    grid-column: span 12;
}
section>main{
    grid-column: span 8;
}



body{
    background-color:goldenrod;color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

article{
    background-color: rgb(44, 43, 43); 
    padding: 1.5rem;
    border-bottom: 1px solid;color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.titulo_del_blog{
    text-align: center;
    font-size: 2rem;
}



.footer_blog{
    margin: 2rem;
}


nav>ul>li {
    list-style: none;
}

nav>ul>li>a {
    text-decoration: none;
}
header {
    text-align:center;
}     




