body{
    background-color: black;color: white;
}

article{
    background-color: rgb(44, 43, 43) 
}

nav> ul >li {

}

.resaltado{
    color: rgb(228, 228, 37);
}

#titulo_del_blog{
    text-align: center;
    font-size: 3rem;
}

.resaltado2{
    color: blanchedalmond;
}

.ilustracion{

}

.ilustracion figcaption{

}

.footer_blog{

}